<div class="wrapper">
<div class="page">
include incl/header.pug
h1.article-title
h1= message
p.article-text
p  <h2>Cashier Management Page</h2>
p 
<p>Create a new Holder - <a href="/createholder/#{object.id}">Here.</a></p>

<p>Create a new Account - <a href="/createaccount/#{object.id}">Here.</a></p>

p <h4>List of All Currently existing Account.<h4>

<table>
<tr><th>ID</th><th>Balance</th><th>Owners</th></tr>
tr
    td= object.id
    td= object.Balance
    td= object.holderList
    <td><a href="/log/#{object.id}">Edit Owners</a></td>
</table>

p
    
include incl/footer.pug
</div>
</div>
