<div class="wrapper">
<div class="page">

include incl/header.pug
h1.article-title
h1= message
p.article-text
p  <h2>Cashier Management Page</h2>

<p>Create a new Holder - <a href="/createholder/">Here.</a></p>
<p>Create a new Account - <a href="/cashierCreateAccount/">Here.</a></p>

p <h4>List of All Currently existing Account.<h4>
<table>
<tr><th>ID</th><th>Balance</th><th>Owners</th><th>Edit</th></tr>
each row, rownum in resultset
    tr
        td= row.id   
        td= row.balance
        td= row.holderList
        
        <td><a href="/owners/#{row.id}"</a>Edit</td>
</table>



include incl/footer.pug
</div>
</div>
