<div class="wrapper">
<div class="page">
include incl/header.pug

if object
h1.article-title
h1= message
p.article-text
p  <h2>Manage owners for Account </h2>
p <h4> Current owners </h4>
<table>
<tr><th>Owner number</th><th>Owner Name</th><th>Owner id's</th></tr>
each row, rownum in resultset
    tr
        td= row.viewId   
        td= row.name
        td= row.nameId
</table>
<p>
<h4>Add holder to Account</h4>
<form method="post" action="/updateAccount">
- console.log(param);
    <input type="hidden" name="id" value="#{param}">
    <p>
    <input type="number" name="newAccount">
    <input type="submit" name="doEdit" value="Save">
    </p>
</form>

</p>

include incl/footer.pug
</div>
</div>
