<div class="wrapper">
<div class="page">
include incl/header.pug
if object
h1.article-title
h1= message
p.article-text
p  <h2>User Home Page</h2>
p
p <h4>Your Information</h4>
<table style= "width:80%">

<tr><th>Name</th><th>SSN</th><th>Adress</th><th>City</th><th>Accounts</th></tr>
tr
    
    td= object.name
    td= object.ssn
    td= object.adress
    td= object.city
    td= object.accountList
    
</table>


<p><a href="/swish">Swish money</a></p>
<p><a href="/swish">Create a new bank acount</a></p>
<p><a href="/swish">Create a new bank acount</a></p>



include incl/footer.pug
</div>
</div>
