<div class="wrapper">
<div class="page">
include incl/header.pug
if object
h1.article-title
h1= message
p.article-text
p  <h2>User Home Page</h2>
p
p <h4>Your Information</h4>
<table style= "width:80%">

<tr><th>Name</th><th>SSN</th><th>Adress</th><th>City</th><th>Accounts</th></tr>
tr
    td= object.name
    td= object.ssn
    td= object.adress
    td= object.city
    td= object.accountList
</table>

p <h4>Your Accounts</h4>
<table style= "width:80%">
<tr><th>balance</th><th>account holders</th></tr>
each row, rownum in accounts
    tr
        td= row.balance
        td= row.holderList

</table>





include incl/footer.pug
</div>
</div>
